body {
    background-image: url("Background.png");
}
.text-line {
    background-color: transparent;
    color: #000000;
    font-size: 30px;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    text-decoration: none;
    padding: 3px 5px;
    width: 40%;
}
a:link, a:visited {
    text-decoration: none;
}
div.inputbutton {
  position: relative;
  display: inline-block;
}


div.inputbutton input {
  background: url('Add_picture.png') no-repeat;
  margin-top: 60px;
  cursor: pointer;
  width: 422px;
  height: 238px;
  border: none;
}

.text {
  position: absolute;
  bottom: 115px;
  right: 163px;
}

.log{
  height: 200px;
  margin: auto;
    width: 50%;
    padding: 30px;
    display: inline-block;
    margin-left: 25%;
}
.reg{
  height: 300px;
  margin: auto;
    width: 50%;
    padding: 30px;
    display: inline-block;
    margin-left: 25%;
}

.btn {
margin-top: 30px;
margin-left: auto;
margin-right: auto;
    background-color: yellow;
    color: black;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    display: block;
}

.regis{
      table-layout: fixed;
      width: 100%;
  }

  table{
    border-collapse: collapse;
  }

th, td {
    text-align: center;
    padding:20px; }

.whole{
margin-left:45px;
    margin-top:55px;
}
.row{
    box-sizing: border-box;
    margin:0 auto;
    text-align: center;
}

.column {
margin-left:10px;
margin-bottom:10px;
    float: left;
    width: 100%;
    max-width: 421px;
    height: 309px; 
    background-image: url('Container.png');

}

.centered{
    text-align:center;
    margin-top:20px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
